### Node.js ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

### Environment variables (секрети!) ###
.env
.env.local
.env.*.local

### WebStorm / IntelliJ ###
.idea/
*.iml
workspace.xml

### OS ###
.DS_Store
Thumbs.db

### Build ###
dist/
build/